<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div class="pull-left">
            <button data-ui-sref="admin.department_head_list"
                    class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back
            </button>            
        </div>
        <div>
            <h4>List Of Resources</h4>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Employee Name</th>
                <th>Grade</th>
                <th>Designation</th>
                <th>DOJ</th>
                <th>DOB</th>
                <th>Education Qualification</th>
                <th>Location</th>
                <!--<th>KRA Progress</th>-->                
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in resourcesList">
                <td data-title="" class="text-right">{{ currentOffset + $index + 1}}</td>
                <td data-title="">{{ employee.empName}}</td>   
                <td data-title="">{{ employee.grade}}</td>  
                <td data-title="">{{ employee.designation}}</td>  
                <td data-title="">{{ employee.empDoj | date}}</td>
                <td data-title="">{{ employee.empDob | date}}</td>
                <td data-title="">{{ employee.eduQual}}</td>
                <td data-title="">{{ employee.location}}</td>
                <!--                <td data-title="" ng-if="employee.complete === true"><label class="label label-success">Complete</label></td>
                                <td data-title="" ng-if="employee.inProgress === true"><label class="label label-warning">Partial Complete ({{employee.totalWeightage}} %)</label></td>
                                <td data-title="" ng-if="employee.notStarted === true"><label class="label label-danger">Not Started</label></td>-->
                <!--<td>{{ user.mobileNo}}</td>-->                
                <td data-title="" class="text-right">
                    <span ng-show="employee.showSaveButton">
                        <a data-ui-sref="admin.hod_eval({ employeeId: employee.id })"
                           class="btn btn-primary">
                            Evaluate HOD &nbsp;
                            <i class="fa fa-pencil"></i>
                        </a>
                    </span>
                    <span ng-hide="employee.showSaveButton">
                        <a data-ui-sref="admin.hod_eval_edit({ employeeId: employee.id })"
                           class="btn btn-primary">
                            Update Evaluation &nbsp;
                            <i class="fa fa-pencil"></i>
                        </a>
                    </span>
                </td>                 
            </tr>
        </tbody>        
    </table>      
</div>

<div data-ui-view=""></div>