<div class="panel panel-default">
    <div class="modal-header text-center">
        <span class="col-md-2 col-lg-2 col-xs-2">
            <a class="btn btn-primary pull-left" data-ui-sref="admin.masters">
                <i class="fa fa-back"></i>
                Back
            </a>
        </span>
        <h3 class="col-md-10 col-lg-10 col-xs-10">
            Master Menu
        </h3>           
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_employee">
                        <div class="master">
                            <img src="images/icons_svg/user.svg" class="icon_ht">
                        </div> 
                        <span title="Employee Master">Employee Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_user">
                        <div class="master">
                            <img src="images/icons_svg/team_1.svg" class="icon_ht">
                        </div> 
                        <span title="User Master">User Master</span>
                    </a>
                </div>
            </div>
            <!--            <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="form-group text-center">
                                <a data-ui-sref-active="active" data-ui-sref="admin.masters_segment">
                                    <div class="master">
                                        <img src="images/icons_svg/inventory.svg" class="icon_ht">
                                    </div> 
                                    <span title="Segment Master">Segment Master</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="form-group text-center">
                                <a data-ui-sref-active="active" data-ui-sref="admin.masters_sale_type">
                                    <div class="master">
                                        <img src="images/icons_svg/workplace_category.svg" class="icon_ht">
                                    </div> 
                                    <span title="Sale Type Master">Sale Type Master</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="form-group text-center">
                                <a data-ui-sref-active="active" data-ui-sref="admin.masters_department">
                                    <div class="master">
                                        <img src="images/icons_svg/prop_category.svg" class="icon_ht">
                                    </div> 
                                    <span title="Department Master">Department Master</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="form-group text-center">
                                <a data-ui-sref-active="active" data-ui-sref="admin.masters_reason">
                                    <div class="master">                            
                                        <img src="images/icons_svg/question.svg" class="icon_ht">
                                    </div> 
                                    <span title="Reason Master">Reason Master</span>
                                </a>
                            </div>
                        </div>-->
        </div>        
    </div>
