<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div class="pull-left">
            <button data-ui-sref="admin.masters"
                    class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back
            </button>            
        </div>
        <div>
            <h4>Reports</h4>
        </div>
    </div> 
</div>
<div class="panel panel-default">  
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" style="height: 360px;border-right: 1px solid;">                
                <a data-ui-sref-active="active" data-ui-sref="admin.report1">
                    <div class="container col-sm-12 col-md-12 col-xs-12">                            
                        <img src="images/icons_svg/one.svg" class="image">                            
                        <div class="overlay">
                            <div class="text">
                                <h2>Form 1 Report</h2>
                            </div>
                        </div>
                    </div>                                                
                </a>                
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="height: 360px;border-right: 1px solid;border-left: 1px solid;">                
                <a data-ui-sref-active="active" data-ui-sref="admin.report2">
                    <div class="container col-sm-12 col-md-12 col-xs-12">                            
                        <img src="images/icons_svg/two.svg" class="image">                            
                        <div class="overlay">
                            <div class="text">
                                <h2>Form 2 Report</h2>
                            </div>
                        </div>
                    </div>                                                
                </a>                
            </div> 
            <div class="col-md-4 col-sm-4 col-xs-4" style="height: 360px;border-left: 1px solid;">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.report3">                    
                        <div class="container col-sm-12 col-md-12 col-xs-12">                            
                            <img src="images/icons_svg/three.svg" class="image">                            
                            <div class="overlay">
                                <div class="text">
                                    <h2>Consolidated Report (Form 1 + Form 2)</h2> 
                                </div>
                            </div>
                        </div>    
                    </a>
                </div>
            </div> 
        </div>        
    </div>
</div>