<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div class="pull-left">
            <button data-ui-sref="admin.masters"
                    class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back
            </button>            
        </div>
        <div>
            <h4>Reports</h4>
        </div>
    </div> 
</div>
<div class="panel panel-default">  
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3" style="height: 180px;border-right: 1px solid;">                
                <a data-ui-sref-active="active" data-ui-sref="admin.report1">
                    <div class="container col-sm-12 col-md-12 col-xs-12">                            
                        <img src="images/icons_svg/one.svg" class="report-image">                            
                        <div class="overlay">
                            <div class="text">
                                <h2>Form 1 Report</h2>
                            </div>
                        </div>
                    </div>                                                
                </a>                
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3" style="height: 180px;border-right: 1px solid;border-left: 1px solid;">                
                <a data-ui-sref-active="active" data-ui-sref="admin.report2">
                    <div class="container col-sm-12 col-md-12 col-xs-12">                            
                        <img src="images/icons_svg/two.svg" class="report-image">                            
                        <div class="overlay">
                            <div class="text">
                                <h2>Form 2 Report</h2>
                            </div>
                        </div>
                    </div>                                                
                </a>                
            </div> 
            <div class="col-md-3 col-sm-3 col-xs-3" style="height: 180px;border-right: 1px solid;border-left: 1px solid;">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.report3">                    
                        <div class="container col-sm-12 col-md-12 col-xs-12">                            
                            <img src="images/icons_svg/three.svg" class="report-image">                            
                            <div class="overlay">
                                <div class="text">
                                    <h2>Consolidated Report (Form 1 + Form 2)</h2> 
                                </div>
                            </div>
                        </div>    
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3" style="height: 180px;border-left: 1px solid;">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.report4">                    
                        <div class="container col-sm-12 col-md-12 col-xs-12">                            
                            <img src="images/icons_svg/four.svg" class="report-image">                            
                            <div class="overlay">
                                <div class="text">
                                    <h2>Rating with Correction Factor</h2> 
                                </div>
                            </div>
                        </div>    
                    </a>
                </div>
            </div>
        </div>        
    </div>
    
</div>
<div class="panel panel-default">  
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3" style="height: 180px;border-right: 1px solid;">                
                <a data-ui-sref-active="active" data-ui-sref="admin.report5">
                    <div class="container col-sm-12 col-md-12 col-xs-12">                            
                        <img src="images/icons_svg/five.svg" class="report-image">                            
                        <div class="overlay">
                            <div class="text">
                                <h2>Ranking Report (Form 1 + Form 2)</h2>
                            </div>
                        </div>
                    </div>                                                
                </a>                
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3" style="height: 180px;border-right: 1px solid;border-left: 1px solid;">                
                <a data-ui-sref-active="active" data-ui-sref="admin.report6">
                    <div class="container col-sm-12 col-md-12 col-xs-12">                            
                        <img src="images/icons_svg/six.svg" class="report-image">                            
                        <div class="overlay">
                            <div class="text">
                                <h2>Ranking Report (Correction Factor)</h2>
                            </div>
                        </div>
                    </div>                                                
                </a>                
            </div> 
            <div class="col-md-3 col-sm-3 col-xs-3" style="height: 180px;border-right: 1px solid;border-left: 1px solid;">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.report7">                    
                        <div class="container col-sm-12 col-md-12 col-xs-12">                            
                            <img src="images/icons_svg/seven.svg" class="report-image">                            
                            <div class="overlay">
                                <div class="text">
                                    <h2>KRA Ranking</h2> 
                                </div>
                            </div>
                        </div>    
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3" style="height: 180px;border-left: 1px solid;">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.report8">                    
                        <div class="container col-sm-12 col-md-12 col-xs-12">                            
                            <img src="images/icons_svg/eight.svg" class="report-image">                            
                            <div class="overlay">
                                <div class="text">
                                    <h2>Soft Skills Ranking</h2> 
                                </div>
                            </div>
                        </div>    
                    </a>
                </div>
            </div>
        </div>        
    </div>
    
</div>
<div class="panel panel-default">  
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3" style="height: 180px;border-right: 1px solid;">                
                <a data-ui-sref-active="active" data-ui-sref="admin.report9">
                    <div class="container col-sm-12 col-md-12 col-xs-12">                            
                        <img src="images/icons_svg/nine.svg" class="report-image">                            
                        <div class="overlay">
                            <div class="text">
                                <h2>Scores Report</h2>
                            </div>
                        </div>
                    </div>                                                
                </a>                
            </div>
<!--            <div class="col-md-3 col-sm-3 col-xs-3" style="height: 180px;border-right: 1px solid;border-left: 1px solid;">                
                <a data-ui-sref-active="active" data-ui-sref="admin.report6">
                    <div class="container col-sm-12 col-md-12 col-xs-12">                            
                        <img src="images/icons_svg/six.svg" class="report-image">                            
                        <div class="overlay">
                            <div class="text">
                                <h2>Ranking Report (Correction Factor)</h2>
                            </div>
                        </div>
                    </div>                                                
                </a>                
            </div> 
            <div class="col-md-3 col-sm-3 col-xs-3" style="height: 180px;border-right: 1px solid;border-left: 1px solid;">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.report7">                    
                        <div class="container col-sm-12 col-md-12 col-xs-12">                            
                            <img src="images/icons_svg/seven.svg" class="report-image">                            
                            <div class="overlay">
                                <div class="text">
                                    <h2>KRA Ranking</h2> 
                                </div>
                            </div>
                        </div>    
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3" style="height: 180px;border-left: 1px solid;">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.report8">                    
                        <div class="container col-sm-12 col-md-12 col-xs-12">                            
                            <img src="images/icons_svg/eight.svg" class="report-image">                            
                            <div class="overlay">
                                <div class="text">
                                    <h2>Soft Skills Ranking</h2> 
                                </div>
                            </div>
                        </div>    
                    </a>
                </div>
            </div>-->
        </div>        
    </div>
    
</div>