<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div class="pull-left">
            <button data-ui-sref="admin.hr_department_head_list"
                    class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back
            </button>            
        </div>
        <div>
            <h4>List Of Resources</h4>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Employee Name</th>
                <th>Grade</th>
                <th>Designation</th>
                <th>DOJ</th>
                <th>DOB</th>
                <th>Education Qualification</th>
                <th>Location</th>                
                <th>KRA Progress</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in resourcesList">
                <td class="text-right">{{ currentOffset + $index + 1}}</td>
                <td>{{ employee.empName}}</td>   
                <td>{{ employee.grade}}</td>  
                <td>{{ employee.designation}}</td>  
                <td>{{ employee.empDoj | date}}</td>
                <td>{{ employee.empDob | date}}</td>
                <td>{{ employee.eduQual}}</td>
                <td>{{ employee.location}}</td>                
                <td ng-if="employee.complete === true"><label class="label label-success">Complete</label></td>
                <td ng-if="employee.inProgress === true"><label class="label label-warning">Partial Complete ({{employee.totalWeightage}} %)</label></td>
                <td ng-if="employee.notStarted === true"><label class="label label-danger">Not Started</label></td>                
                <td class="text-right">
                    <!--                    <a data-ui-sref="admin.department_resource_list.update_additional_details({ employeeId: employee.id })"
                                           class="btn btn-primary" ng-show="employee.showUpdateButton">
                                            Update Additional Details &nbsp;
                                            <i class="fa fa-pencil"></i>
                                        </a>-->
                    <a data-ui-sref="admin.form2({ employeeId: employee.id })"
                       class="btn btn-primary">
                        Form 2 &nbsp;
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a data-ui-sref="admin.form3({ employeeId: employee.id })"
                       class="btn btn-primary">
                        Form C &nbsp;
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>                 
            </tr>
        </tbody>        
    </table>      
</div>

<div data-ui-view=""></div>