<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div class="pull-left">
            <button data-ui-sref="admin.hr"
                    class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back
            </button>            
        </div>
        <div>
            <h4>Masters</h4>
        </div>
    </div> 
</div>
<div class="panel panel-default">    
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_employee">
                        <div class="master">
                            <img src="images/icons_svg/user.svg" class="icon_ht">
                        </div> 
                        <span title="Employee Master">Employee Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_user">
                        <div class="master">
                            <img src="images/icons_svg/team_1.svg" class="icon_ht">
                        </div> 
                        <span title="User Master">User Master</span>
                    </a>
                </div>
            </div>            
        </div>        
    </div>
