<div class="modal modal-stars">
    <div class="modal-backdrop fade in"></div>
    <div class="modal-dialog">
        <form role="form" ng-submit="">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title col-sm-10">
                        <i class="fa fa-user"></i>
                        Upload Photo
                    </h3>
                    <button type="button" onclick="window.history.back()" class=" col-sm-2 btn btn-link pull-right">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <img style="width: 100%;" src="./images/coming_soon.jpg" alt="Coming Soon" title="Coming Soon">
                </div>
            </div>
        </form>
    </div>
</div>
