<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div class="pull-left">
            <a data-ui-sref="admin.masters"
               class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back
            </a>
        </div>
        <div class="pull-right">
            <a data-ui-sref="admin.masters_user.add"
               class="btn btn-default">
                <i class="fa fa-plus"></i>
                Add User
            </a>
        </div>
        <div>
            <h4>User Master</h4>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-right">#</th>
                <th>Username</th>
                <th>Role</th>
                <th>Name</th>
                <th>Employee Id</th>                
                <th>Mobile No</th>                
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td class="text-right">{{ currentOffset + $index + 1}}</td>
                <td>{{ user.username}}</td>   
                <td>{{ user.role}}</td>  
                <td>{{ user.name}}</td>  
                <td>{{ user.employee.empName}}</td>                
                <td>{{ user.mobileNo}}</td>                
                <td class="text-right">
                    <a data-ui-sref="admin.masters_user.delete({ userId: user.id })"
                       class="btn btn-danger">					
                        <i class="fa fa-trash"></i>
                    </a>                    
                </td>                 
            </tr>
        </tbody>
    </table>
    <nav class="panel-footer">
        <ul class="pager">
            <li>
                <button ng-click="previousPage()" 
                        ng-disabled="{{ currentOffset == 0}}" 
                        class="btn btn-default" >
                    <i class="fa fa-arrow-left"></i>
                    Previous
                </button>
            </li>
            <li>
                <button ng-click="nextPage()"
                        ng-disabled="users.length < 10 || nextUsers.length === 0"
                        class="btn btn-default">
                    Next 
                    <i class="fa fa-arrow-right"></i>
                </button>
            </li>
        </ul>
    </nav>
</div>
<div data-ui-view=""></div>