<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div class="pull-left">

            <button data-ui-sref="admin.evaluate"
                    class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                Back
            </button>            
        </div>
        <div>
            <h4>Form 2</h4>
        </div>
    </div>
    <div class="row">
        <h3 style="margin-left: 30px;">Personal Details :</h3>
        <hr style="width: 1310px;margin-left: 20px;border-top:  2px solid;">
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label class="col-sm-6">Name :</label>
            <span class="col-sm-6">{{employeeObject.empName}}</span>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-6">Designation :</label>
            <span class="col-sm-6">{{employeeObject.designation}}</span>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-6">Employee Code :</label>
            <span class="col-sm-6">{{employeeObject.empNo}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label class="col-sm-6">Department :</label>
            <span class="col-sm-6">{{employeeObject.department}}</span>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-6">Date Of Birth :</label>
            <span class="col-sm-6">{{employeeObject.empDob| date}}</span>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-6">Date Of Joining :</label>
            <span class="col-sm-6">{{employeeObject.empDoj| date}}</span>
        </div>        
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label class="col-sm-6">Grade :</label>
            <span class="col-sm-6">{{employeeObject.grade}}</span>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-6">Educational Qualification :</label>
            <span class="col-sm-6">{{employeeObject.eduQual}}</span>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-6">Total Experience :</label>
            <span class="col-sm-6">{{employeeObject.totalExp}} Years</span>
        </div>        
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label class="col-sm-6">Location :</label>
            <span class="col-sm-6">{{employeeObject.location}}</span>
        </div>
        <!--        <div class="col-sm-4">
                    <label class="col-sm-6">Educational Qualification :</label>
                    <span class="col-sm-6">{{employeeObject.eduQual}}</span>
                </div>
                <div class="col-sm-4">
                    <label class="col-sm-6">Total Experience :</label>
                    <span class="col-sm-6">{{employeeObject.totalExp}} Years</span>
                </div>        -->
    </div>

</div>
<div class="panel panel-default">
    <div class="modal-header text-center" style="min-height: 60px">
        <h3 class="col-md-12 col-lg-12 col-xs-12">
            Soft Skills Assessment 
        </h3>           
    </div>
    <div class="panel-body">
        <div class="row">
            <form role="form" ng-submit="approveForm2(editableForm2)">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Assessment Parameter</label>
                        <select class="form-control" ng-model="editableForm2.parameter" required="">
                            <option value="">Select Assessment Parameter</option>
                            <option value="JOB_KNOWLEDGE">Job Knowledge</option>
                            <option value="COMMUNICATION_INTERPERSONAL_SKILLS">Communication / Interpersonal Skills</option>
                            <option value="DEPENDABLITY">Dependability</option>
                            <option value="ATTITUDE_PUNCTUALITY">Attitude & Punctuality / Personality</option>
                            <option value="LEADERSHIP_QUALITIES">Leadership Qualities</option>
                            <option value="ABILITY_TO_INNOVATE">Ability to Innovate</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Weightage %</label>
                        <input type="number" step="any" min="0" max="100" class="form-control" ng-model="editableForm2.weightage" required="">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Rating</label>
                        <select class="form-control" ng-model="editableForm2.rating" required="">
                            <option value="">Select Rating</option>
                            <option value="1">Needs Improvement</option>
                            <option value="3">Below Average</option>
                            <option value="4">Average</option>
                            <option value="7">Above Average</option>
                            <option value="9">Excellent</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label>Rating Score</label>
                        <input type="number" step="any" class="form-control" ng-model="editableForm2.ratingScore" required="" readonly="">
                    </div>
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary" style="margin-top: 25px" ng-disabled="(form2DetailsList | total:'weightage') === 100">
                        <i class="fa fa-plus"></i>
                        Add
                    </button>
                </div>                
            </form>
        </div>
        <br>
        <div class=" text-center alert alert-danger" ng-show="(form2DetailsList | total:'weightage') > 100">
            <strong>Warning : Percentage Weightage Cannot Exceed 100 % ,Please correct the KRA weightage percentage entered above.</strong>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-right">#</th>
                        <th>Assessment Parameter</th>
                        <th>Weightage %</th>
                        <th>Rating</th>
                        <th>Rating Score</th>                        
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="form2Params in form2DetailsList">
                        <td class="text-right">{{$index + 1}}</td>
                        <td>{{ form2Params.parameter}}</td>   
                        <td>{{ form2Params.weightage}}</td>  
                        <td>{{ form2Params.rating}}</td>  
                        <td>{{ form2Params.ratingScore}}</td>
                        <td class="text-right">
                            <a data-ui-sref="admin.form2.delete({ form2DetailId: form2Params.id })"
                               class="btn btn-danger">					
                                <i class="fa fa-trash"></i>
                            </a>                           
                        </td>                        
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="1"></td>
                        <td class="text-right">Total Weightage :</td>
                        <td>{{ form2DetailsList | total:'weightage'}} %</td>
                        <td class="text-right">Rating Score :</td>
                        <td>{{ form2DetailsList | total:'ratingScore'}} / 9</td>
                        <td></td>
                    </tr>           
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="modal-header text-center" style="min-height: 60px">
        <h3 class="col-md-12 col-lg-12 col-xs-12">
            Additional Inputs
        </h3>           
    </div>
    <div class="panel-body">
        <!--<div class="row">-->
        <form role="form" ng-submit="approveAdditionalDetail(additionalDetails)">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Special Contribution / Achievement (If Any)</label>
                        <textarea rows="3" class="form-control" ng-model="additionalDetails.specialContribution">
                                
                        </textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Area Of Improvement (If Any)</label>
                        <textarea rows="3" class="form-control" ng-model="additionalDetails.areaOfImprovement">
                                
                        </textarea>
                    </div>
                </div>
            </div>
            <br>
            <!--            <div class="row text-center">
                            <span><strong>Training Need / Identification</strong></span>
                        </div>-->
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="form-group">
                        <label>Communication / Interpersonal Skills</label>
                        <input class="form-control" type="checkbox" ng-model="additionalDetails.commInterpersonalSkill">
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="form-group">
                        <label>Supervisory Development</label>
                        <input class="form-control" type="checkbox" ng-model="additionalDetails.supervisoryDevelopment">
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="form-group">
                        <label>Team Building / Leadership</label>
                        <input class="form-control" type="checkbox" ng-model="additionalDetails.teamBuilding">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="form-group">
                        <label>Selling & Negotiation Skills</label>
                        <input class="form-control" type="checkbox" ng-model="additionalDetails.sellingNegotiationSkill">
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="form-group">
                        <label>CRM</label>
                        <input class="form-control" type="checkbox" ng-model="additionalDetails.crm">
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="form-group">
                        <label>Presentation Skills</label>
                        <input class="form-control" type="checkbox" ng-model="additionalDetails.presentationSkill">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="form-group">
                        <label>Time Management</label>
                        <input class="form-control" type="checkbox" ng-model="additionalDetails.timeManagement">
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="form-group">
                        <label>Functional</label>
                        <input class="form-control" type="checkbox" ng-model="additionalDetails.functional">
                    </div>
                </div>
                <!--                <div class="col-sm-4 text-center">
                                    <div class="form-group">
                                        <label>Presentation Skills</label>
                                        <input class="form-control" type="checkbox" ng-model="additionalInputs.presentationSkill">
                                    </div>
                                </div>-->
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>HOD Comment</label>
                        <textarea rows="3" class="form-control" ng-model="additionalDetails.hodComment">
                                
                        </textarea>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>HR Comment</label>
                        <textarea rows="3" class="form-control" ng-model="additionalDetails.hrComment">
                                
                        </textarea>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Neutral Observer Comment</label>
                        <textarea rows="3" class="form-control" ng-model="additionalDetails.noComment">
                                
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-lg btn-primary">
                    <i class="fa fa-save"></i>
                    Save
                </button>
                <button type="button"
                        onclick="window.history.back()"
                        class="btn btn-link" >
                    cancel
                </button>				
            </div>
        </form>
        <!--</div>-->        
    </div>
</div>

<div data-ui-view=""></div>