<marquee class="col-sm-12 col-md-12 col-lg-12 alert alert-info">
    <span style="font-family: Impact; font-size: 12pt">Welcome To STARS (Spacewood 's Transformational Appraisal Rating System)</span>
    <span style="font-family: Impact; font-size: 12pt" ng-repeat="notification in notificationList">&nbsp;&nbsp;<strong>|</strong>&nbsp;&nbsp;{{notification.notification}}</span>
</marquee>
<div class="panel panel-default">    
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6" style="height: 360px;border-right: 1px solid;">                
                <a data-ui-sref-active="active" data-ui-sref="admin.hr_master_menu">
                    <div class="container col-sm-12 col-md-12 col-xs-12">                            
                        <img src="images/icons_svg/server.svg" class="image">                            
                        <div class="overlay">
                            <div class="text">
                                <h2>Masters</h2>
                            </div>
                        </div>
                    </div>                                                
                </a>                
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="height: 360px">                
                <a data-ui-sref-active="active" data-ui-sref="admin.hr_department_head_list">
                    <div class="container col-sm-12 col-md-12 col-xs-12">                            
                        <img src="images/icons_svg/crown.svg" class="image">                            
                        <div class="overlay">
                            <div class="text">
                                <h2>Department Heads List</h2>
                            </div>
                        </div>
                    </div>                                                
                </a>                
            </div> 
<!--            <div class="col-md-4 col-sm-4 col-xs-4" style="height: 360px;border-left: 1px solid;">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.report_menu">
                    <a data-ui-sref-active="active" data-ui-sref="admin.report_menu">
                        <div class="container col-sm-12 col-md-12 col-xs-12">                            
                            <img src="images/icons_svg/analytics.svg" class="image">                            
                            <div class="overlay">
                                <div class="text">
                                    <h2>Reports</h2> 
                                </div>
                            </div>
                        </div>    
                    </a>
                </div>
            </div> -->
        </div>        
    </div>
</div>