<marquee class="col-sm-12 col-md-12 col-lg-12 alert alert-info">
    <span style="font-family: Impact; font-size: 12pt">Welcome To STARS (Spacewood 's Transformational Appraisal Rating System)</span>
    <span style="font-family: Impact; font-size: 12pt" ng-repeat="notification in notificationList">&nbsp;&nbsp;<strong>|</strong>&nbsp;&nbsp;{{notification.notification}}</span>
</marquee>
<div class="panel panel-default">
    <!--    <div class="modal-header text-center">
            <h3 class="col-md-12 col-lg-12 col-xs-12">
                Transaction Menu
            </h3>           
        </div>-->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" style="height: 360px;border-right: 1px solid;">                
                <a data-ui-sref-active="active" data-ui-sref="admin.master_menu">
                    <div class="container col-sm-12 col-md-12 col-xs-12">                            
                        <img src="images/icons_svg/server.svg" class="image">                            
                        <div class="overlay">
                            <div class="text">
                                <h2>Masters</h2>
                            </div>
                        </div>
                    </div>                                                
                </a>                
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="height: 360px;border-right: 1px solid;border-left: 1px solid;">                
                <a data-ui-sref-active="active" data-ui-sref="admin.department_head_list">
                    <div class="container col-sm-12 col-md-12 col-xs-12">                            
                        <img src="images/icons_svg/crown.svg" class="image">                            
                        <div class="overlay">
                            <div class="text">
                                <h2>Department Heads List</h2>
                            </div>
                        </div>
                    </div>                                                
                </a>                
            </div> 
            <div class="col-md-4 col-sm-4 col-xs-4" style="height: 360px;border-left: 1px solid;">
                <div class="form-group text-center">
                    <!--<a data-ui-sref-active="active" data-ui-sref="admin.report_menu">-->
                    <a data-ui-sref-active="active" data-ui-sref="admin.report_menu">
                        <div class="container col-sm-12 col-md-12 col-xs-12">                            
                            <img src="images/icons_svg/analytics.svg" class="image">                            
                            <div class="overlay">
                                <div class="text">
                                    <h2>Reports</h2> 
                                </div>
                            </div>
                        </div>    
                    </a>
                </div>
            </div> 
        </div>        
    </div>
</div>

<!--<marquee class="col-sm-12 col-md-12 col-lg-12 alert alert-info">
    <span style="font-family: Impact; font-size: 12pt">Welcome To STARS (Spacewood 's Transformational Appraisal Rating System)</span>
    <span style="font-family: Impact; font-size: 12pt" ng-repeat="notification in notificationList">&nbsp;&nbsp;<strong>|</strong>&nbsp;&nbsp;{{notification.notification}}</span>
</marquee>
<div class="panel panel-default">
    <div class="modal-header text-center">
        <h3 class="col-md-12 col-lg-12 col-xs-12">
            Master Menu
        </h3>           
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_employee">
                        <div class="master">
                            <img src="images/icons_svg/user.svg" class="icon_ht">
                        </div> 
                        <span title="Employee Master">Employee Master</span>
                    </a>
                </div>
            </div>
           <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_user">
                        <div class="master">
                            <img src="images/icons_svg/team_1.svg" class="icon_ht">
                        </div> 
                        <span title="User Master">User Master</span>
                    </a>
                </div>
            </div>
             <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_segment">
                        <div class="master">
                            <img src="images/icons_svg/inventory.svg" class="icon_ht">
                        </div> 
                        <span title="Segment Master">Segment Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_sale_type">
                        <div class="master">
                            <img src="images/icons_svg/workplace_category.svg" class="icon_ht">
                        </div> 
                        <span title="Sale Type Master">Sale Type Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_department">
                        <div class="master">
                            <img src="images/icons_svg/prop_category.svg" class="icon_ht">
                        </div> 
                        <span title="Department Master">Department Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_reason">
                        <div class="master">                            
                            <img src="images/icons_svg/question.svg" class="icon_ht">
                        </div> 
                        <span title="Reason Master">Reason Master</span>
                    </a>
                </div>
            </div>
        </div>        
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_kitchen_component">
                        <div class="master">                            
                            <img src="images/icons_svg/cabinet.svg" class="icon_ht">
                        </div> 
                        <span title="Kitchen Component Master">Kitchen Component Master</span>
                    </a>
                </div>
            </div>            

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_raw_material">
                        <div class="master">                            
                            <img src="images/icons_svg/wood.svg" class="icon_ht">
                        </div> 
                        <span title="Raw Material Master">Raw Material Master</span>
                    </a>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_standard_carcass_dimension">
                        <div class="master">                            
                            <img src="images/icons_svg/size.svg" class="icon_ht">
                        </div> 
                        <span title="Standard Carcass Dimension Master">Std Carcass Dimension Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_color">
                        <div class="master">                            
                            <img src="images/icons_svg/pantone.svg" class="icon_ht">
                        </div> 
                        <span title="Color Master">Color Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_standard_carcass_price">
                        <div class="master">                            
                            <img src="images/icons_svg/rupee.svg" class="icon_ht">
                        </div> 
                        <span title="Standard Carcass Price Master">Std Carcass Price Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_color_constraint">
                        <div class="master">                            
                            <img src="images/icons_svg/constraint.svg" class="icon_ht">
                        </div> 
                        <span title="Color Constraint Master">Color Constraint Master</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_finish_price">
                        <div class="master">                            
                            <img src="images/icons_svg/parquet.svg" class="icon_ht">
                        </div> 
                        <span title="Finish Price Master">Finish Price Master</span>
                    </a>
                </div>
            </div>            

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_section_profile">
                        <div class="master">                            
                            <img src="images/icons_svg/layout.svg" class="icon_ht">
                        </div> 
                        <span title="Section Profile Master">Section Profile Master</span>
                    </a>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_carcass_subtype">
                        <div class="master">                            
                            <img src="images/icons_svg/kitchen.svg" class="icon_ht">
                        </div> 
                        <span title="Carcass Sub Type Master">Carcass Sub Type Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_panel_material_thickness">
                        <div class="master">                            
                            <img src="images/icons_svg/shelves.svg" class="icon_ht">
                        </div> 
                        <span title="Panel Material Thickness">Panel Material Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_handle_price">
                        <div class="master">                            
                            <img src="images/icons_svg/door-handle.svg" class="icon_ht">
                        </div> 
                        <span title="Handle Price Master">Handle Price Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_shutter_finish_price">
                        <div class="master">                            
                            <img src="images/icons_svg/door.svg" class="icon_ht">
                        </div> 
                        <span title="Shutter Finish Price Master">Shutter Finish Price Master</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_user">
                        <div class="master">                            
                            <img src="images/icons_svg/team_1.svg" class="icon_ht">
                        </div> 
                        <span title="User Master">User Master</span>
                    </a>
                </div>
            </div>            

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_shutter_handle_mapping">
                        <div class="master">                            
                            <img src="images/icons_svg/file-cabinet.svg" class="icon_ht">
                        </div> 
                        <span title="Shutter Handle Mapping Master">Shutter Handle Mapping</span>
                    </a>
                </div>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_filler_finish_price">
                        <div class="master">                            
                            <img src="images/icons_svg/crate.svg" class="icon_ht">
                        </div> 
                        <span title="Filler Finish Price Master">Filler Finish Price Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_drawer_handle_mapping">
                        <div class="master">                            
                            <img src="images/icons_svg/box-document-paper.svg" class="icon_ht">
                        </div> 
                        <span title="Drawer Handle Mapping Master">Drawer Handle Mapping</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_notification">
                        <div class="master">                            
                            <img src="images/icons_svg/school-bell.svg" class="icon_ht">
                        </div> 
                        <span title="Notification Master">Notification Master</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_rate_contract">
                        <div class="master">                            
                            <img src="images/icons_svg/contract.svg" class="icon_ht">
                        </div> 
                        <span title="Rate Contract Master">Rate Contract Master</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="panel panel-default">
    <div class="modal-header text-center">
        <h3 class="col-md-12 col-lg-12 col-xs-12">
            Transaction Menu
        </h3>           
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="form-group text-center">
                    <a data-ui-sref-active="active" data-ui-sref="admin.masters_order">
                        <div class="master">
                            <img src="images/icons_svg/bank_product.svg" class="icon_ht">
                        </div> 
                        <span title="Order Entry Transaction">Order Entry Transaction</span>
                    </a>
                </div>
            </div>            
        </div>        
    </div>
</div>-->